<a href="https://colab.research.google.com/github/MinhQuang31751/Python-week2/blob/main/BaiTapTuan2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bắt đầu

In [ ]:
#Python Hello World
print("Hello World")

Hello World

#Python Syntax

In [ ]:
# comment

In [ ]:
score = 80
if score >=60 :
  print("Pass")

Pass

#Python Variables

In [ ]:
# Python Variables
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''
x = 2
y = x + 1

print("Giá trị của x là:", x)
print("Giá trị của y là:", y)
print("Giá trị của price là:", price)
print("Giá trị của word là:", word)

Giá trị của x là: 2
Giá trị của y là: 3
Giá trị của price là: 2.5
Giá trị của word là: Hello

#python_version()

In [ ]:
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.12.11

#Python Data Types

In [ ]:
string_variable = "Hello World" #str
print("Value:", string_variable, ", Type:", type(string_variable))

integer_variable = 2 #int
print("Value:", integer_variable, ", Type:", type(integer_variable))

float_variable = 2.5 #float
print("Value:", float_variable, ", Type:", type(float_variable))

complex_variable = 7j #complex
print("Value:", complex_variable, ", Type:", type(complex_variable))

list_variable = ["apple", "banana", "cherry"] #list
print("Value:", list_variable, ", Type:", type(list_variable))

tuple_variable = ("apple", "banana", "cherry") #tuple
print("Value:", tuple_variable, ", Type:", type(tuple_variable))

range_variable = range(6) #range
print("Value:", range_variable, ", Type:", type(range_variable))

dictionary_variable = {"name" : "Tom", "age" : 20} #dict
print("Value:", dictionary_variable, ", Type:", type(dictionary_variable))

set_variable = {"apple", "banana", "cherry"} #set
print("Value:", set_variable, ", Type:", type(set_variable))

frozenset_variable = frozenset({"apple", "banana", "cherry"})
#frozenset
print("Value:", frozenset_variable, ", Type:", type(frozenset_variable))

boolean_variable = True #bool
print("Value:", boolean_variable, ", Type:", type(boolean_variable))

bytes_variable = b"Hello" #bytes
print("Value:", bytes_variable, ", Type:", type(bytes_variable))

bytearray_variable = bytearray(5) #bytearray
print("Value:", bytearray_variable, ", Type:", type(bytearray_variable))

memoryview_variable = memoryview(bytes(5)) #memoryview
print("Value:", memoryview_variable, ", Type:", type(memoryview_variable))

none_variable = None #NoneType
print("Value:", none_variable, ", Type:", type(none_variable))

Value: Hello World , Type: <class 'str'>
Value: 2 , Type: <class 'int'>
Value: 2.5 , Type: <class 'float'>
Value: 7j , Type: <class 'complex'>
Value: ['apple', 'banana', 'cherry'] , Type: <class 'list'>
Value: ('apple', 'banana', 'cherry') , Type: <class 'tuple'>
Value: range(0, 6) , Type: <class 'range'>
Value: {'name': 'Tom', 'age': 20} , Type: <class 'dict'>
Value: {'cherry', 'apple', 'banana'} , Type: <class 'set'>
Value: frozenset({'cherry', 'apple', 'banana'}) , Type: <class 'frozenset'>
Value: True , Type: <class 'bool'>
Value: b'Hello' , Type: <class 'bytes'>
Value: bytearray(b'\x00\x00\x00\x00\x00') , Type: <class 'bytearray'>
Value: <memory at 0x7d9370f68d00> , Type: <class 'memoryview'>
Value: None , Type: <class 'NoneType'>

#Python Casting

In [ ]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

#Python Numbers

In [ ]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

#Python Basic Operators

In [ ]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

#Python Booleans: True or False

In [ ]:
# Python Booleans: True or False
for a, b in [(2, 5), (5, 2), (5, 5)]:
    print("-"*50)
    print(f"a<b: ({a}<{b}): {a<b}")
    print(f"a>b: ({a}>{b}): {a>b}")
    print(f"a<=b: ({a}<={b}): {a<=b}")
    print(f"a>=b: ({a}>={b}): {a>=b}")
    print(f"a==b: ({a}=={b}): {a==b}")
    print(f"a!=b: ({a}!={b}): {a!=b}")

--------------------------------------------------
a<b: (2<5): True
a>b: (2>5): False
a<=b: (2<=5): True
a>=b: (2>=5): False
a==b: (2==5): False
a!=b: (2!=5): True
--------------------------------------------------
a<b: (5<2): False
a>b: (5>2): True
a<=b: (5<=2): False
a>=b: (5>=2): True
a==b: (5==2): False
a!=b: (5!=2): True
--------------------------------------------------
a<b: (5<5): False
a>b: (5>5): False
a<=b: (5<=5): True
a>=b: (5>=5): True
a==b: (5==5): True
a!=b: (5!=5): False

#Python BMI Calculator

In [ ]:
# BMI Calculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))

# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7


print("Your BMI is: " + str(round(BMI,1)))
print('fv = ', round(fv, 2))

fv =  194.87
Your BMI is: 20.8

#Future Value

In [ ]:
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(f"Giá trị tương lai sau {years} năm với số tiền ban đầu {amount} và lãi suất {interest}% là: {round(future_value, 2)}")

# Example 2: Different amount and interest
amount_2 = 500
interest_2 = 5
years_2 = 10
future_value_2 = amount_2 * ((1 + (0.01 * interest_2)) ** years_2)
print(f"Giá trị tương lai sau {years_2} năm với số tiền ban đầu {amount_2} và lãi suất {interest_2}% là: {round(future_value_2, 2)}")

# Example 3: Different amount, interest, and years
amount_3 = 1000
interest_3 = 8
years_3 = 5
future_value_3 = amount_3 * ((1 + (0.01 * interest_3)) ** years_3)
print(f"Giá trị tương lai sau {years_3} năm với số tiền ban đầu {amount_3} và lãi suất {interest_3}% là: {round(future_value_3, 2)}")

194.87

# Lists []

In [1]:
x = [60, 70, 80, 90]
print("Original list:", x)
print("Length of the list:", len(x))
print("First element:", x[0])
print("Second element:", x[1])
print("Last element:", x[-1])

# Adding an element
x.append(100)
print("After appending 100:", x)

# Removing an element
x.remove(70)
print("After removing 70:", x)

# Changing an element
x[0] = 55
print("After changing the first element to 55:", x)

# Slicing the list
print("Slice from index 1 to 3:", x[1:4])

# Checking if an element is in the list
print("Is 80 in the list?", 80 in x)
print("Is 70 in the list?", 70 in x)

4
60
70
90

#Tuples ()

In [2]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

# Sets {}

In [3]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat’)
print(len(animals))
animals.remove('cat')
print(len(animals))

SyntaxError: unterminated string literal (detected at line 7) (ipython-input-1665972573.py, line 7)